nav{
    display:flex;
    justify-content: space-between;
    height:100px;
    align-items: center;
}
.left{
    flex:3;
    .logo{
        font-weight: bold;
        font-size: 20px;
        display:flex;
        gap:10px;
        align-items: center;
    }
}
.right{
    flex:2
}